@font-face {
    font-family: 'miFuente3';
    src: url(../Fuentes/Roboto-Regular.ttf);
}

.containerbici {
    width: 700px;
    min-height: 620px;
    height: 430px;
    margin: 10px;
    overflow: auto;
}

.card:hover {
    box-shadow: 20px 20px 80px -44px #000;
    transition: .5s ease-in-out;
    cursor: pointer;
}