@font-face {
    font-family: 'miFuente3';
    src: url(../Fuentes/Roboto-Regular.ttf);
}

.container1 {
    width: 700px;
    min-height: 700px;
    height: 430px;
    margin: auto;
    overflow: auto;
}

.container1 p {
    font-size: 18px;
    font-family: 'miFuente3';
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    font-family: monospace;
}

form h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

textarea {
    min-height: 100px;
    max-height: 20px;
    overflow: auto;
}

#boton {
    background: #7f8c8d;
    display: inline-block;
    box-shadow: 0px 3px 0px #09ebeb;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 0px;
}

#boton:hover {
    box-shadow: 0px 0px 0px;
    padding-top: 7px;
}

.container::-webkit-scrollbar {
    width: 12px;
    background: #efefef;
}

.container::-webkit-scrollbar-thumb {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e8e7de+0,3dedd2+98 */
    background: #e8e7de;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e8e7de 0%, #3dedd2 98%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e8e7de 0%, #3dedd2 98%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e8e7de 0%, #3dedd2 98%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e8e7de', endColorstr='#3dedd2', GradientType=0);
    /* IE6-9 */
}